# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Rest
*.tlog
*.obj
*.pdb
*.idb
*.svn-base
*.cache
*.bi
*.resources
*.re
*.res
*.exp
*.sdg
*.opensdf
*.log
*.pch
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.suo
*.sdf
*.db
entries
format
qconvex.exe